<!DOCTYPE html>
<html>
    <title>pyRemind | Login</title>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link href="{{url_for('static', filename='login.css')}}" rel="stylesheet">
        <link rel="shortcut icon" href="{{url_for('static', filename='favicon.ico')}}">
    </head>
    <body class="text-center">
        <form class="form-signin" action="/login" method="POST">
            <img class="mb-4" src="{{url_for('static', filename='logo.png')}}" alt="pyRemind Logo" width="128" height="128">
            <h1 class="h3 mb-3 font-weight-normal">Sign in</h1>
            <label for="username" class="sr-only">Username</label>
            <input type="text" id="username" class="form-control" placeholder="Username" required autofocus>
            <label for="password" class="sr-only">Password</label>
            <input type="password" id="password" class="form-control" placeholder="Password" required>
            <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
            
            {% if error %}
            <p class="mt-2 mb-2 text-center" style="color: red">{{error}}</p>
            {% endif %}
            <p class="mt-5 mb-3 text-center">Don't have an account? <a href="/register">Register</a></p>
            <p class="mt-5 mb-3 text-muted text-center">pyRemind | &copy; 2019</p>
        </form>
    </body>
</html>